<ul class="nav nav-sidebar">                                                                                                          
  <li class="sidebar-menu-item">
    <a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-supplier" aria-expanded="true" class="">
      <span class="icon icon-user"></span><span class="text">Administración de Proveedores</span><span class="icon pull-right icon-chevron-left"></span>
    </a>

    <ul id="sidebar-supplier" class="nav nav-pills nav-stacked collapse" data-hook="admin_supplier_sub_tabs" aria-expanded="false">
      <li class="sidebar-menu-item"><a href="/admin/suppliers">Proveedores</a></li>
    </ul>
  </li>
</ul>

